:css
  body{
    background: #ecf0f1;
  }
  .chart{
    width:100%;
  }
  .chart div {
    font: 10px sans-serif;
    background-color: #2c3e50;
    text-align: right;
    padding: 3px;
    margin: 3px;
    color: white;
    font-size:1.8em;
  }
  .chart div:hover{
    background-color: #3498db;
  }
  #color{
    font-weight: 900;
  }
  @media screen and (max-width: 800px){
    .chart div{
      font-size:1em;
      vertical-align: text-bottom;
    }
  }

#experiments
  %div.chart
  %div
    %span
      %span.left
        %h2= @experiment.name
      - if @experiment.is_active 
        %span.right
          = link_to "Complete Experiment", complete_experiment_path(@experiment), class: :button
      - else
        %span.right
          = link_to "Completed", experiment_path(@experiment), class: :button

    %table
      %tbody
        %tr
          %th Variation
          %th Participants
          %th Conversions
          %th Conversion Rate
        - @experiment.variations.each do |variation|
          %tr{ data: { target: variation_path(variation) }}
            %td= variation.name
            %td= variation.participants
            %td= variation.converted
            %td= variation.measure.round(4)
  %hr
  %div
    %table
      %tbody
        %tr
          %th Current Best
          %th Current Base
          %th Current Worst
          %th Outcome/Winner
          %tr
            - if @experiment.best
              %td{ data: { target: variation_path(@experiment.best) }}
                = @experiment.best.name
            - else
              %td
                N/A
            - if @experiment.base
              %td{ data: { target: variation_path(@experiment.base) }}
                = @experiment.base.name
            - else
              %td
                N/A
            - if @experiment.worst
              %td{ data: { target: variation_path(@experiment.worst) }}
                = @experiment.worst.name
            - else
              %td
                N/A
            - if @experiment.outcome
              %td{ data: { target: variation_path(@experiment.outcome) }}
                = @experiment.outcome.name
            - else
              %td
                N/A

%script{type: "text/javascript", src: "http://d3js.org/d3.v3.min.js"}

:javascript
  var data;
  //get json data, everything that uses this data must be in this function
  d3.json("http://#{request.host_with_port}/experiments/#{@experiment.id}.json", function(error, json){
    if (error){
      console.log(error);
    } 
    else {
      console.log(json);
    }
    //set our var to the data
    data=json;
    //set the scales to match our data
    var x = d3.scale.linear()
      .domain([0, function(d){
        return d3.max(d.Total)
      }])
      .range([0, function(d){
        return d3.max(d.Total)
      }]);
      //start drawing graph
      var chart = d3.select(".chart")
    chart.selectAll("div")
      //bind data
        .data(data)
        .enter().append("div")
        .style("width", function(d) { 
          //responsive bars to match width of box
          return ((d.Complete/d.Total)*100) + "%";
        })
        .text(function(d) {
          //write out text in box
          return d.abtest + ": " + d.Complete + "/" + d.Total;
        })
        //style the text
        //.style("height", "23px")
        //on hover return the percent of clicks     
        .on("mouseover", function(d){
          d3.select(this)
            .text(function(d){
                //be sure to round it so there aren't crazy fractions
                var percent = d.Complete/d.Total;
                round = Math.round(percent*100);
                return d.abtest + ": " + round + "%";
              })
      })
        .on("mouseout", function(d){
          //on not hover return to original text
          d3.select(this)
            .text(function(d){
              return d.abtest + ": " + d.Complete + "/" + d.Total;
            })
        })
  });// end JSON function



